
{% load static %}
<div class="side-bar">
    <h4> <strong>Welcome to our site </strong> </h4>
    <p> This site provides the knowledge of embedding linux systems in windows systems using virtual box. <br></p>
</div>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
</form>

<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Related Articles </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Virtual Machine</th>
    </tr>
    <tr>
      <th scope="row">Ubuntu</th>
    </tr>
    <tr>
      <th scope="row">Linux History</th>
    </tr>
    <tr>
      <th scope="row">Windows Operating System</th>
    </tr>
    <tr>
      <th scope="row">Microprocessors</th>
    </tr>
    <tr>
      <th scope="row">Embedded System</th>
    </tr>
  </tbody>

</table>
</div>
